.body { 
    margin: 3rem auto; 
    max-width: 650px; 
    padding: 0 1rem; 
}
.header {
    height:75px;
    width: 100%;
    display: table;
    padding: 5px;

}
.logo {
    max-width: 70px;
    width: 70px; 
    height: auto; 
    display: block;
    margin-right: 30px;
}
.logodiv {
    display: table-cell;
    vertical-align: middle;
    padding-left:40px;
}
.centremenu {
    display: table-cell;
    vertical-align: middle;
    width: 100%;
    text-align: left;

}
.listlink {
    display: inline-block;
    margin-right: 1rem;
}
