.body { 
    margin: 3rem auto; 
    max-width: 650px; 
    padding: 0 1rem; 
}
.header {
    height:75px;
    width: 100%;
    display: table;
    padding: 5px;

}
.logo {
    max-width: 70px;
    width: 70px; 
    height: auto; 
    display: block;
    margin-right: 30px;
}
.logodiv {
    display: table-cell;
    vertical-align: middle;
    padding-left:40px;
}
.centremenu {
    display: table-cell;
    vertical-align: middle;
    width: 100%;
    text-align: left;

}
.rightmenu {
    display: table-cell;
    vertical-align: middle;
    text-align: right;
}
.listlink {
    display: inline-block;
    margin-right: 1rem;
}
.link {
    color: #262273;
    font-size: 12px;
    font-weight: 700;
    text-decoration: none;
    text-transform: uppercase;
    padding: 0 0px;
}
.rightcontainer{
    display: table;
    text-align: right;
    width: auto;
    position: relative;
    float: right;
}
.social_links{
    padding-left: 30px;
    display: table-cell;
    vertical-align: middle;
    line-height: 0;
}
.social_links_wrap {
    display: table;
    width: auto;
}
.social_links_item {
    display: table-cell;
    vertical-align: middle;
    padding: 0 5px;
}
.right_buttons {
    padding-left: 30px;
    display: table-cell;
    vertical-align: middle;
}
.right_buttons_wrap {
    display: table;
    width: auto;
    float: right;
}
.right_buttons_button {
    display: table-cell;
    vertical-align: middle;
}
.button{
    color: #ffffff;
    background-color: #262273;
    height: 40px;
    font-size: 14px;
    padding-left: 30px;
    padding-right: 30px;
    margin-left: 10px;
    -webkit-border-radius: 20px;
    border-radius: 20px;
    text-transform: uppercase;
    transition: background-color 0.2s ease-in-out, color 0.2s ease-in-out, border-color 0.2s ease-in-out, box-shadow 0.2s ease-in-out;
}
